USE [master]
GO
/****** Object:  Database [dbs_prestamos_deportivos]    Script Date: 26/10/2023 8:24:04 p. m. ******/
CREATE DATABASE [dbs_prestamos_deportivos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbs_prestamos_deportivos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbs_prestamos_deportivos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbs_prestamos_deportivos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbs_prestamos_deportivos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbs_prestamos_deportivos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbs_prestamos_deportivos]
GO
/****** Object:  Table [dbo].[tbl_det_prestamos]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_det_prestamos](
	[PkItem] [bigint] IDENTITY(1,1) NOT NULL,
	[FkNumero_tbl_prestamos] [bigint] NOT NULL,
	[Fk_Codigo_tbl_implementos] [varchar](10) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Fecha_devolucion] [date] NULL,
	[Hora_devolucion] [time](7) NULL,
	[Observaciones] [varchar](5000) NULL,
PRIMARY KEY CLUSTERED 
(
	[PkItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_estado]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_estado](
	[PkCodigo] [char](1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Nomenclatura] [varchar](5) NOT NULL,
 CONSTRAINT [PK__tbl_esta__47CD9045ECD59D3B] PRIMARY KEY CLUSTERED 
(
	[PkCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_implemnentos]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_implemnentos](
	[PkCodigo] [varchar](10) NOT NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Especificaciones] [varchar](5000) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Valor] [float] NOT NULL,
	[Fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PkCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_personas]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_personas](
	[PkId] [varchar](10) NOT NULL,
	[P_nombre] [varchar](40) NOT NULL,
	[S_nombre] [varchar](40) NULL,
	[P_apellido] [varchar](40) NOT NULL,
	[S_apellido] [varchar](40) NULL,
	[Contacto] [varchar](10) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[FkId_tbl_sexo] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[PkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_prestamos]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_prestamos](
	[PkNumero] [bigint] IDENTITY(1,1) NOT NULL,
	[FkId_tbl_personas] [varchar](10) NOT NULL,
	[FkUsuario_tbl_usuarios] [varchar](100) NOT NULL,
	[Fecha_registro] [date] NULL,
	[Hora_registro] [time](7) NULL,
	[Fecha_devolucion] [date] NULL,
	[Hora_devolucion] [time](7) NULL,
	[Observaciones] [varchar](5000) NULL,
PRIMARY KEY CLUSTERED 
(
	[PkNumero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_rol]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_rol](
	[PkCodigo] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Nomenclatura] [varchar](5) NOT NULL,
 CONSTRAINT [PK__tbl_rol__47CD90454B6A885D] PRIMARY KEY CLUSTERED 
(
	[PkCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_sexo]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_sexo](
	[PkId] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Nomenclatura] [varchar](5) NOT NULL,
 CONSTRAINT [PK__tbl_sexo__A7C03FF8E2BEDE02] PRIMARY KEY CLUSTERED 
(
	[PkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_usuarios]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_usuarios](
	[PkUsuario] [varchar](100) NOT NULL,
	[Contraseña] [varchar](10) NOT NULL,
	[FkId_tbl_personas] [varchar](10) NOT NULL,
	[Fecha] [date] NULL,
	[FkCodigo_tbl_estado] [char](1) NULL,
	[FkCodigo_tbl_rol] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[PkUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_estado] ([PkCodigo], [Nombre], [Nomenclatura]) VALUES (N'5', N'Activo', N'A')
GO
INSERT [dbo].[tbl_implemnentos] ([PkCodigo], [Nombre], [Especificaciones], [Cantidad], [Valor], [Fecha]) VALUES (N'1', N'Ejemplo', N'Especificaciones', 2, 50000, CAST(N'2023-10-26' AS Date))
INSERT [dbo].[tbl_implemnentos] ([PkCodigo], [Nombre], [Especificaciones], [Cantidad], [Valor], [Fecha]) VALUES (N'12', N'Juan', N'Correa', 1, 60000, CAST(N'2023-10-26' AS Date))
INSERT [dbo].[tbl_implemnentos] ([PkCodigo], [Nombre], [Especificaciones], [Cantidad], [Valor], [Fecha]) VALUES (N'2', N'Otro ejemplo', N'Otro ejemploo', 5, 20000, CAST(N'2023-10-26' AS Date))
GO
INSERT [dbo].[tbl_rol] ([PkCodigo], [Nombre], [Nomenclatura]) VALUES (N'Masculino', N'1', N'M')
GO
INSERT [dbo].[tbl_sexo] ([PkId], [Nombre], [Nomenclatura]) VALUES (N'1', N'Masculino', N'M')
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarImplemento]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Juan Correa>
-- Create date: <Create Date,,26/10/2023>
-- Description:	<Description,,Buscar implementos>
-- =============================================
CREATE PROCEDURE [dbo].[SP_BuscarImplemento]
@codigo varchar(10)
AS
BEGIN
	select Nombre,Especificaciones,Cantidad,Valor,Fecha from tbl_implemnentos where PkCodigo=@codigo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarEstado]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Juan Correa>
-- Create date: <Create Date,,24/10/2023>
-- Description:	<Description,,Registrar estado>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RegistrarEstado]
@codigo varchar(10), @nombre varchar(50),@nomenclatura varchar (5)
AS
BEGIN
	insert into tbl_estado(PkCodigo,Nombre,Nomenclatura)
	values(@codigo,@nombre,@nomenclatura)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarImplemento]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Juan Correa>
-- Create date: <Create Date,,26/10/2023>
-- Description:	<Description,,Registrar implementos>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RegistrarImplemento]
@codigo varchar(10), @nombre varchar(80),@especificaciones varchar (5000),@cantidad int, @valor float
AS
BEGIN
	insert into tbl_implemnentos(PkCodigo,Nombre,Especificaciones,Cantidad,Valor,Fecha)
	values(@codigo,@nombre,@especificaciones,@cantidad,@valor,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarPersonas]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Juan Correa>
-- Create date: <Create Date,,12/10/2023>
-- Description:	<Description,,Registrar personas>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RegistrarPersonas]
@id varchar(10),@pnombre varchar(40),@snombre varchar(40),@papellido varchar(40),@sapellido varchar(40),@contacto  varchar(10), @correo varchar(100),@direccion varchar(100),@fksexo char
AS
BEGIN
	insert into tbl_personas(PkId,P_nombre,S_nombre,P_apellido,S_apellido,Contacto,Correo,Direccion,FkId_tbl_sexo)
	values(@id,@pnombre,@snombre,@papellido,@sapellido,@contacto,@correo,@direccion,@fksexo)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarRol]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Juan Correa>
-- Create date: <Create Date,,24/10/2023>
-- Description:	<Description,,Registrar rol>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RegistrarRol]
@codigo varchar(10),@nombre varchar(50),@nomenclatura varchar (5)
AS
BEGIN
	insert into tbl_rol(PkCodigo,Nombre,Nomenclatura)
	values(@codigo,@nombre,@nomenclatura)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarSexo]    Script Date: 26/10/2023 8:24:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Juan Correa>
-- Create date: <Create Date,,24/10/2023>
-- Description:	<Description,,Registrar sexo>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RegistrarSexo]
@codigo varchar(10),@nombre varchar(50),@nomenclatura varchar (5)
AS
BEGIN
	insert into tbl_sexo(PkId,Nombre,Nomenclatura)
	values(@codigo,@nombre,@nomenclatura)
END
GO
USE [master]
GO
